<!DOCTYPE html>
<html lang="en">
<head>
    <title>Michigan Weightlifting - Roster</title>
    <link rel='shortcut icon' type='image/x-icon' href='static/favicon.ico'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        html {
            overflow-y: scroll;
        }
        p {
            font-size: larger;
        }
        span {
            font-size: larger;
        }
        a {
            font-size: larger;
        }
    </style>
</head>

<body style="background-color:#FFFAFA">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#EEE9E9">
    <a class="navbar-brand" href="home.html">Michigan Weightlifting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home.html">Home</a>
            <a class="nav-item nav-link active" href="roster.html">Roster</a>
            <a class="nav-item nav-link" href="results.html">Results</a>
            <a class="nav-item nav-link" href="contact.html">Contact</a>
        </div>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <a href="https://www.instagram.com/mibarbell" class="nav-link"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/mibarbell" class="nav-link"><i class="fab fa-facebook fa-2x"></i></a>
    </ul>
</nav>

<!-- INSIDE CONTAINER -->
<div class="container-fluid" style="margin:auto; background-color:#FFFAFA; padding-right:0; padding-left:0;">
    <!-- TEAM PHOTO -->
    <br>
    <div class="container-fluid">
        <div class="container-fluid" style="width:66%">
            <div class="card mb-3" style="border:none; background-color:#FFFAFA;">
                <img class="card-img-top img-thumbnail" src="static/team.jpg" alt="Michigan Weightlifting Team Photo">
                <div class="card-body">
                    <p class="card-text"><b>Back Row (From Left):</b> David Sawyers, ...</p>
                    <p class="card-text"><b>Front Row:</b> Celia Gold, ...</p>
                    <p class="card-text"><b>Not Pictured:</b> Junjie Guo, ...</p>
                    <p class="card-text"><small class="text-muted">Michigan Weightlifting - Fall 2018</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- COACHES -->
    <div class="container">
        <div class="card shadow" style="border-radius:0; background-color: #00274C;">
            <div class="card-body"> 
                <h1 style="color: #FFCB05;">Coaches</h1>
            </div>
        </div>
        <br>
        <!-- COACH BOB -->
        <div class="card mb-3" style="border-radius:0;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/125x150.png" class="card-img" alt="Bob Morris" style="border-radius:0;">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title">Bob Morris</h3>
                        <span class="card-text">Bio! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum scelerisque sem varius tempus. 
                            Integer sit amet metus a orci bibendum commodo nec sit amet est. Phasellus nec quam et tellus pretium laoreet. Etiam in metus tempor, 
                            tempor lacus id, tempus libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum scelerisque sem varius tempus. 
                            Integer sit amet metus a orci bibendum commodo nec sit amet est. Phasellus nec quam et tellus pretium laoreet. Etiam in metus tempor, 
                            tempor lacus id, tempus libero.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- DAVID SAWYERS -->
        <div class="card mb-3" style="border-radius:0;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/125x150.png" class="card-img" alt="David Sawyers" style="border-radius: 0;">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title">David Sawyers</h3>
                        <span class="card-text">Bio! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum scelerisque sem varius tempus. 
                            Integer sit amet metus a orci bibendum commodo nec sit amet est. Phasellus nec quam et tellus pretium laoreet. Etiam in metus tempor, 
                            tempor lacus id, tempus libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum scelerisque sem varius tempus. 
                            Integer sit amet metus a orci bibendum commodo nec sit amet est. Phasellus nec quam et tellus pretium laoreet. Etiam in metus tempor, 
                            tempor lacus id, tempus libero.</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROSTER -->
        <br>
        <div class="card shadow" style="border-radius:0; background-color: #00274C;">
            <div class="card-body">
                <h1 style="color: #FFCB05;">Roster</h1>
            </div>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['gender'] }}</td>
                    <td>{{ row['weight'] }}</td>
                    <td>{{ row['grade'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
</body>
</html>